/.idea
/.vscode
/cmd/server/*log*
/cmd/server/nmid
/example/worker/worker1/*log*
/example/worker/worker2/*log*
/example/client/httpclient/http-client
/example/client/httpserver/http-test
/example/client/httpserver2/http-test2
/example/client/testclient/nmid-client
/example/worker/worker1/nmid-worker
/example/worker/worker2/nmid-worker2
/example/client/httpserver/log_dir
/cmd/server/*.exe
/cmd/server/*.env
example/client/httpserver/nmid_log_dir/20230804_log_file.log
/example/client/httpserver2/nmid_log_dir
