[Unit]
Description=nmid

[Service]
Type=simple
WorkingDirectory=/home/niansong/Go/src/nmid-go/run/server
ExecStart=/home/niansong/Go/src/nmid-go/run/server/nmid
Restart=always

[Install]
WantedBy=multi-user.target
